---
// const {cardTitle} = Astro.props;
// const {cardSummary} = Astro.props;
// const {cardTag1,cardTag2,cardTag3} = Astro.props;

const {cardTitle,cardTag1,cardTag2,cardTag3} = Astro.props;


---


<!-- card -->
<div class="max-w-lg rounded overflow-hidden shadow-lg" style="border: solid purple 2px;">
    <!-- <img class="w-full" src="/img/card-top.jpg"> -->
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{cardTitle}</div>
        <p class="text-gray-700 text-base">
        <p class="font-semibold text-md text-gray-500 md:text-md mb-5">
            <slot name="CardSummary" /> 
            <br />

        </p>
        </p>
        <a href="/projects/#Automation"
            class="flex items-center justify-center xl:justify-start gap-3 font-medium text-indigo-800 text-md hover:text-indigo-600 transition ease-in-out duration-300">
            See Examples
            <i data-feather="arrow-right"></i>
        </a>
    </div>

    <div class="px-6 pt-4 pb-2">
        <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{cardTag1}</span>
        <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{cardTag2}</span>
        <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{cardTag3}</span>
    </div>
</div>
<!-- end card -->